# Cache and build files
__pycache__/

# VsCode
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Original authors' reference code (large, external)
og_work/

# Regenerated run artifacts (recreated on every run)
*.npy
_arrays_3d/
reconstruction_3d*.html

# Logs
logs/